@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

*::-webkit-scrollbar{
    width: 0.25rem;
}

*::-webkit-scrollbar-track{
    background: var(--black-color) ;
}

*::-webkit-scrollbar-thumb{
    background: var(--white-color);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --white-color: #fff;
    --black-color: #000;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Common Styles ends */

/* Section-1 */
.section-1{
    width: 100%;
    height: 100vh;  /* fallback for old browsers */
    /* background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  
    background: linear-gradient(to right, #86fde8, #acb6e5); 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    clip-path: polygon(100% 0, 100% 95%, 38% 100%, 0 100%, 0 0);
}
/* Section-1 ends */

/* logo */
.logo{
    position: absolute;
    top: 3rem;
    left: 3rem;

}

.logo i{
    font-size: 10rem;
    color: rgba(0,0,0,0.8);
}
/* logo ends */

/* Cube */
.cube-wrapper{
    perspective: 100rem;
}


.cube{
    width: 30rem;
    height: 55rem;
    transform-style: preserve-3d;
    transform: rotateY(20deg);
    position: relative;
    top: -2rem;
    transition: transform .1s;
}

.front-side img{
    filter: drop-shadow(0 0 5px #000);
}

.front-side,.back-side{
    width: 100%;
    height: 100%;
    background-color: #fee;
    position: absolute;
    transform-style: preserve-3d;
    box-shadow: inset .1rem .1rem .1rem #ddd,
                inset -.1rem -.1rem .1rem #ddd;
   
}

.front-side{
    padding: 2.5rem;
    transform: translateZ(5rem);
}

.front-side::before,
.front-side::after{
    content: "";
    width: 100%;
    height: 10rem;
    background-color: #fee;
    position: absolute;
    box-shadow: inset .1rem .1rem .1rem #ddd,
                inset -.1rem -.1rem .1rem #ddd;
    
}
/* top */
.front-side::before{
    top: 0;
    left: 0;
    transform:  rotateX(-90deg);
    transform-origin: top;
}
/* bottom */
.front-side::after{
    bottom: 0;
    left: 0;
    transform:  rotateX(90deg);
    transform-origin: bottom;
}

.front-side img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-side{
    transform: translateZ(-5rem);
}

/* side-1 and side-2*/
.back-side::before,
.back-side::after{
    width: 10rem;
    height: 100%;
    background-color: #fee;
    position: absolute;
    box-shadow: inset .1rem .1rem .1rem #ddd,
                inset -.1rem -.1rem .1rem #ddd;
}
/* side-1 */
.back-side::before{
    content:"iPhone12";
    top: 0;
    left: 0;
    transform: rotateY(-90deg);
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    color: var(--black-color);
}

/* side-2 */
.back-side::after{
    content:"";
    top: 0;
    right: 0;
    transform: rotateY(90deg);
    transform-origin: right;
}

.back-side i{
    font-size: 12rem;
    color: #212A26;
    text-shadow: .1rem  .1rem .2rem #aaa, -.1rem -.1rem .2rem #aaa;
    transform: rotateY(180deg);
}
/* Cube ends */

/* Navbar */
.navbar{
    position: absolute;
    top: 3rem;
    right: 10%;
}

.navbar-link{
    font-size: 2rem;
    display: inline-block;
    margin: 0 3rem;
    color: var(--black-color);
    transition: transform 0.5s;
}

.navbar-link:hover{
    transform: scale(1.5);
}
/* Navbar ends */

/* Banner */
.section-1-banner{
    flex-direction: column;
}

.section-1-banner h1{
    font-size: 13rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.section-1-banner p{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin: 6rem 0 4rem 0; /* top right bottom left */
    
}

.section-1-banner span{
    font-size: 3rem;
    margin-bottom: 5rem;
}

.section-1-banner button{
    padding: 2rem 4rem;
    font-size: 2rem;
    background-color: var(--black-color);
    color: #fff; 
    font-weight: 400;
    letter-spacing: .1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );
  transition: clip-path 0.5s;
}

.section-1-banner button:hover{
    clip-path: polygon(
        40% 15%,
        77% 15%,
        100% 10%,
        100% 90%,
        75% 85%,
        40% 85%,
        30% 100%,
        0 50%,
        0 50%,
        30% 0
      );
}

/* Banner Ends */

/* Slide-show */
.slide-show{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slide-show div{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s;
}

.slide-show div.change{
    opacity: 1;
}

/* Slide-show Ends */

/* section-2 */
.section-2{
    width: 100%;
    height: 120vh;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* section-2 heading */
.section-2-heading{
    font-size: 10rem;
    font-weight: 200;
    color: var(--black-color) ;
}

/* section-2 heading ends */

/* section-2 images */
.iphones{
    height: 60vh;
    width: 50vw;
}

.iphones img{
    width: inherit;
    height: inherit;
    object-fit: contain;
    position: absolute;
    transition: opacity 3s;
}

.iphone-img-2{
    opacity: 0;
}

.iphones:hover .iphone-img-1{
    opacity: 0;
} 

.iphones:hover .iphone-img-2{
    opacity: 1;
} 


/* section-2 images ends */

/* section-2 buttons */
.iphone-btns{
    display: flex;
}

.iphone-btn{
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to right, rgb(51,51,51) 60%, rgb(82,82,82) );
    margin: 0 3rem;
    border-radius: 50%;
    position: relative;
}

.iphone-btn::after{
    content: "";
    width: 50%;
    height: 50%;
    display: block;
    border: 0.1rem solid #6edae6;
    border-radius: 1rem;
}

.iphone-btn span{
    position: absolute;
    top: -3rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--black-color);
    width: max-content;
    transform: scale(0);
    transition: transform 0.4s;
}

.iphone-btn:hover span{
    transform: scale(1);
}

/* section-2 buttons ends */

/* section-2 ends */


/* section-3  */
.section-3{
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    flex-direction: column;
    padding: 15rem 0;
    clip-path: polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);
}

/* section 3 heading */
.section-3-heading{
    font-size: 10rem;
    font-weight: 200;
    color: var(--white-color);
    margin-bottom: 15rem;
}
/* section 3 heading ends */

/* section 3 content */
.section-3-content{
    width: 80%;
    flex-direction: column;
    perspective: 1000rem;
    position: relative
}

/* section 3 images */
.section-3-content img{
    width: inherit;
}

.macbook-img-1{
    transform: rotateX(-80deg);
    transform-origin: bottom;
}

.change .macbook-img-1{
    transform:rotateX(0);
    transition: transform 3s;

}
/* section 3 images ends */

/* section 3 loading */
.loading-wrapper{
    position: absolute;
    top: 6%;
    width: 60%;
    height: 85%;
    background: url(images/MacBook/macbook-1-desktop.jpg) center no-repeat;
    z-index: -1;
    opacity: 0;
}

.change .loading-wrapper{
    opacity: 1;
    transition: opacity 1s 2s;
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    flex-direction: column;
}

.change .loading{
    opacity: 0;
    transition: 1s 5s;
}

.loading i{
    font-size: 10rem;
    color: var(--white-color);
    margin-bottom: 2rem;
}

.progress-bar{
    width: 22rem;
    height: .3rem;
    background-color: #888;
    border-radius: 5rem;
    position: relative;
}

.progress-bar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--white-color);
}

.change .progress-bar::after{
    width: 100%;
    transition: width 1s 3s;
}

/* section 3 loading ends */

/* section 3 info */
.macbook-info{
    position: absolute;
    text-align: center;
    width:70rem;
    opacity: 0
}

.change .macbook-info{
    opacity: 1;
    transition: opacity 1s 6s;
}

.macbook-info-heading{
    font-size: 6rem;
    font-weight: 400;
    color: var(--white-color);
}

.macbook-price{
    font-size: 2.5rem;
    font-weight: 300;
    margin: 3rem 0;
    color: var(--white-color);
}

.macbook-btn{
    width: 25rem;
    height: 5rem;
    background: linear-gradient(#ddd, #fff);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: .1rem .1rem .1rem #fff, -.1rem -.1rem .1rem #fff;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    color: var(--black-color); 
}

/* section 3 info ends */

/* section 3 content ends */

/* section-3 ends */


/* section 4  */
.section-4{
    height: 140vh;
    padding: 20vh 0; 
    flex-direction: column;
    position: relative;
}


/* section 4 watches */
.watches{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.watches > div {
    position: absolute;
}

/* watch bands */

.watch-bands{
    transition: margin-right 1s;
}

.watch-band-img{
    width: 35rem;
    height: 35rem;
    object-fit: contain;
}


/* watch cases */

.watch-cases{
    flex-direction: column;
    transition: margin-top 1s;

} 

.watch-case-img{
    width: 35rem;
    height: 35rem;
    object-fit: contain;
    
}

/* section 4 watches ends */

/* watch controls */
.watch-control{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: rgba(221, 221, 221, .9);
    border-radius: 5rem;
}

.hideControl{
    opacity: 0;
    visibility: hidden;

}

.watch-control i{
    font-size: 3rem;
    color: var(--black-color);
}

.watch-top-control{
    top: 22vh;
    left: 50%;
    transform: translateX(-50%);
}

.watch-right-control{
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.watch-bottom-control{
    left: 50%;
    bottom: 20vh;
    transform: translateX(-50%);
    
}

.watch-left-control{
    top: 50%;
    left: 2rem;
    transform:translateY(-50%);
}

/* watch controls ends */

/* watch button */
.watch-button{
    position:absolute;
    bottom: 30vh;
    right: 35%;
    width: 13rem;
    height: 5rem;
    border-radius: 4rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 200;
    cursor: pointer;
    background: var(--black-color);
    
    color: #fff;
     overflow: hidden;
      }
      .watch-button:hover {
          text-decoration: none;
          color: #fff;
      }
      .watch-button:before {
          position: absolute;
          content: '';
          display: inline-block;
          top: -180px;
          left: 0;
          width: 30px;
          height: 100%;
          background-color: #fff;
          animation: shiny-btn1 3s ease-in-out infinite;
      }
      .watch-button:hover{
        opacity: .7;
        background-color: #ec4356;
      }
      .watch-button:active{
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2),
          inset -4px -4px 6px 0 rgba(255,255,255,.2),
          inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
      }

      @keyframes shiny-btn1 {
        0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
        80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
        81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
        100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
    }
    
/* watch button ends */

/* section 4 ends */

/* section 5 */
.section-5{
    width: 100%;
    height: 100vh;
}

/* section-5 content */
.airpods{
    width: 90%;
    height: 80%;
    display: flex;
    position: relative; 
}

/* section 5 heading */
.section-5-heading{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    font-weight: 200;
    color: var(--white-color);
    text-shadow: 0.1rem 0.1rem 0 #999;
}
/* section 5 heading ends *

/* section 5 buttons */
.airpods-buttons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
}

.airpod-btn{
    width: 15rem;
    height: 4rem;
    background-color: #FDC3BF ;
    margin: 0 2rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--black-color);
}

.airpod-btn:first-child{
    background-color: #C3EAE8 ;
   
}

/* section 5 buttons ends */

/* section 5 images */
.airpods img{
    width: 50%;
    height: 100%;
    object-fit: contain;

}

.airpods-img-1{
 background-color:#FDC3BF ;
}

.airpods-img-2{
    background-color: #C3EAE8 ;
}
/* section 5 images  ends*/

/* section-5 content ends */

/* section 5 ends */

/* section 6  */
.section-6{
    width: 100%;
    height: 40vh;
    position: relative;

}

.icon-link{
    margin: 0 5rem;
}

.icon-link img{
    width: 10rem;
}

.copyright{
    position:absolute;
    bottom: 5rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;

}

/* section 6 ends */


/* Responsive */

@media(max-width:1500px){
    html{
        font-size: 45%;
    }
}

@media(max-width:1100px){
    html{
        font-size: 40%;
    }

    .navbar-link{
        font-weight: 700;
    }

    .section-1-banner h1{
        font-size: 8rem;
    }

    .section-1-banner p{
        font-size: 3rem;
    }

    .watch-button{
        right: 25%;
    }

}

@media(max-width: 900px){
    .section-3-content{
        width: 90%;
    }

    .loading-wrapper{
        width: 70%;
    }

    .loading i{
        font-size: 6rem;
    }

    .section-5-heading{
        font-size: 12rem;
    }
}

@media(max-width: 700px){

    .logo{
        top: 0;
        left: 2rem;
    }

    .logo i{
        font-size: 8rem;
    }

    .cube-wrapper{
        opacity: 0.7;
    }

    .cube{
        top: 3rem;
    }

    .section-1-banner{
        position: absolute;
    }

    .section-1-banner h1{
        position: relative;
        left: -5rem;
    }
    
    .section-1-banner button{
        clip-path: polygon(54% 0, 81% 0, 100% 0, 100% 51%, 100% 100%, 70% 100%, 34% 100%, 0 100%, 0 0, 28% 0);
    }
    .section-1-banner button:hover{
        cursor: pointer;
    clip-path: polygon(
    50% 0%,
    81% 5%,
    100% 0,
    100% 100%,
    80% 95%,
    50% 100%,
    20% 95%,
    0 100%,
    0 0,
    23% 5%
  );


    }
    
    .section-1-banner h1::first-letter{
        visibility: hidden;
        opacity: 0;
    }

    .iphones{
        height: 70vh;
        width: 70vw;
    }

    .watch-button{
        right: 15%;
    }

    .airpods img{
    width: 50%;
    height: 75%;
    }

    .airpod-btn{
        box-shadow: 0.1rem 0.1rem 0.1rem #ddd;
    }

    .icon-link{
        margin:0 2rem;
    }

    .section-5{
        height: 70vh;
    }

    .section-6{
        height: 30vh;
    }
}

@media(max-width: 500px){
    .navbar-link{
        margin: 0 1.5rem;
    }
    
    .section-2-heading{
        font-size: 8rem;
    }

    .section-3-heading{
        font-size: 8rem;
    }
    
    .macbook-info-heading{
        font-size: 5rem;
    }

    .macbook-btn{
        width: 15rem;
        height: 4rem;
        font-size: 1.3rem;
    }

    .airpods-buttons{
        width: 50rem;
        text-align: center;
    }

    .section-5-heading{
        font-size: 8rem;
    }

    .icon-link img{
        width: 8rem;
    }

}

@media(max-width: 450px){

    html{
        font-size: 35%;
    }
    
    .logo{
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar{
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }

    .macbook-info{
        width: 40rem;
    }

    .section-1-banner p{
        text-align: center;
    }

    .iphones{
        width: 75vw;
    }
    
    .section-3-heading{
        font-size: 6rem;
    }

    .macbook-info-heading{
        font-size: 3rem;
    }

    .macbook-price{
        font-size: 2rem;
        font-weight: 300;
    }

    .watch-button{
        right: 5%;
    }

    .icon-link img{
        width: 6rem;
    }

}

